@font-face {
  font-family: "Jameel Noori Nastaleeq";
  src: url("../urdu-fonts/nafees-nastaleeq-webfont.eot");
  src: url("../urdu-fonts/nafees-nastaleeq-webfontd41d.eot?#iefix") format("embedded-opentype"), url("../urdu-fonts/nafees-nastaleeq-webfont.woff") format("woff"), url("../urdu-fonts/Nafees-Nastaleeq.ttf") format("truetype"), url("../urdu-fonts/nafees-nastaleeq-webfont.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
.urdu, form .select-eng-urdu, form .select-urdu {
  font-family: "Jameel Noori Nastaleeq";
}

form .select-eng-urdu, form .select-urdu {
  height: auto;
  padding: 0px 10px;
  word-spacing: 3px;
}
form .select-urdu {
  direction: rtl;
}

/* Add animation to "page content" */
.animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s;
}

@-webkit-keyframes animatebottom {
  from {
    bottom: -100px;
    opacity: 0;
  }
  to {
    bottom: 0px;
    opacity: 1;
  }
}
@keyframes animatebottom {
  from {
    bottom: -100px;
    opacity: 0;
  }
  to {
    bottom: 0;
    opacity: 1;
  }
}
/* padding clases */
.p-y3-x6 {
  padding: 3px 6px !important;
}
.p-b-5 {
  padding-bottom: 5px !important;
}
.p-10 {
  padding: 10px !important;
}

.py-10 {
  padding-top: 10px !important;
  padding-bottom: 10px !important;
}
.px-0 {
  padding-left: 0 !important;
  padding-right: 0 !important;
}
.px-5 {
  padding-left: 5px !important;
  padding-right: 5px !important;
}
.px-10 {
  padding-left: 10px !important;
  padding-right: 10px !important;
}
.px-20 {
  padding-left: 20px !important;
  padding-right: 20px !important;
}

.p-r-10 {
  padding-right: 10px !important;
}

.p-l-10 {
  padding-left: 10px !important;
}
.p-l-80 {
  padding-left: 5rem !important;
}

/* margin clases */
.m-l-5 {
  margin-left: 5px !important;
}
.m-t-20 {
  margin-top: 20px !important;
}

.m-t-25 {
  margin-top: 25px !important;
}

.m-t-30 {
  margin-top: 30px !important;
}

.m-t-50 {
  margin-top: 50px !important;
}

.m-r-20 {
  margin-right: 20px !important;
}

.mx-10 {
  margin-right: -10px !important;
  margin-left: -10px !important;
}
.font-11 {
  font-size: 11px !important;
}

.font-15 {
  font-size: 15px !important;
}
.small {
  font-size: 60%;
}

.select2-hidden-accessible.parsley-error ~ .select2-container--default .select2-selection--single {
  border-color: #f05050 !important;
}

.form-horizontal .form-group {
  /* margin-left: 0px; */
  /* margin-right: 0px; */
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

::-webkit-scrollbar-thumb {
  background: rgba(95, 190, 170, 0.3);
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
  box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}

::-webkit-scrollbar-thumb:window-inactive {
  background: rgba(95, 190, 170, 0.1);
}

.notifyjs-corner {
  top: 50px !important;
  left: 40% !important;
}

.modal.in .modal-dialog {
  margin-top: 100px;
}

.morris-hover.morris-default-style {
  background: rgba(0, 0, 0, 0.8) !important;
}

.alert-warning {
  color: #c77e00;
}

.bg-admin {
  background: linear-gradient(to bottom, #5d9cec 0%, #5d9cec 15%, #f8f5ec 30%, #f8f5ec 100%);
}

.ws-login-page .wrapper-page {
  margin: 5% auto 0;
}
.ws-login-page .account-pages {
  background: linear-gradient(to bottom, #5d9cec 0%, #5d9cec 30%, #f8f5ec 30%, #f8f5ec 100%);
}
.ws-login-page .card-box {
  padding: 0 !important;
  border-radius: 50%;
}
.ws-login-page .card-box .panel-heading {
  background-color: #333;
  border-radius: 25px 25px 0 0;
}
.ws-login-page .card-box .panel-body {
  background-image: url(../images/admin/bg_login_admin.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.ws-login-page .card-box .panel-body form input.form-control {
  padding-left: 30px;
}
.ws-login-page .card-box .panel-body form i.pull-left {
  position: absolute;
  margin: 8px;
  color: #5d9cec;
  font-size: 18px;
}
.ws-login-page .logo h2, .ws-login-page .logo h3, .ws-login-page .logo h4 {
  color: #fff;
  margin-bottom: 0;
}
.ws-login-page .logo h4 {
  margin-top: 0;
}
.ws-login-page h3 {
  font-size: 1.6rem;
}

.logout-modal {
  margin-top: 60px;
}
.logout-modal .modal-content {
  background-image: url("../images/bg-logout.gif");
  background-size: cover;
  height: 257px;
  width: 100%;
  border-radius: 70px 70px 30px 30px !important;
  border: none;
}
.logout-modal .modal-content form .btn {
  padding: 10px 60px;
  margin: 0 5px;
}

.primary-bg {
  background: #5d9cec;
}

.text-primary {
  color: #5d9cec;
}

.main-blocks {
  background-image: url("../images/admin/bg_main_block.png");
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
}

.page-title {
  line-height: 28px;
  margin-bottom: 5px;
  margin-top: 5px;
}
.breadcrumb {
  margin-bottom: 0px;
  padding-top: 7px;
}

.custom-box-shadow {
  box-shadow: 0px 4px 8px 1px rgba(0, 0, 0, 0.2) !important;
}

.custom-form-box {  
  box-shadow: 0px 4px 8px 1px rgba(0, 0, 0, 0.2);
  overflow: hidden;
}
.custom-form-box h4 {
  position: relative;
  top: -10px;
  padding: 0 5px;
  display: inline-block;
  line-height: 28px;
  background-color: #ddd;
}
.custom-form-box h4::after {
  content: '';
  position: absolute;
  left: 100%;
  border-right: 20px solid transparent;
  border-bottom: 28px solid #ddd;
}

.custom-cart-box {
  border-radius: 20px;
  box-shadow: 0px 8px 15px 0px rgba(0, 0, 0, 0.1);
}
.custom-cart-box .panel-heading {
  border-radius: 25px 25px 0 0;
  background: #5d9cec;
}
.custom-cart-box .panel-content {
  padding: 0 20px 20px;
}
.custom-cart-box .panel-content h2 {
  color: #5d9cec;
}
.custom-cart-box .panel-content h2 span.t-pedency {
  font-size: 18px;
}

.search-form {
  border-bottom: 3px solid #ddd;
  box-shadow: 0px 8px 8px 0px rgb(0 0 0 / 10%);
  margin-right: -20px;
  margin-left: -20px;
  overflow: hidden;
}

.dataTables_length, .dataTables_wrapper .btn-group>.btn {
  float: none;
}
.table-bordered,
.table-bordered > thead > tr > th,
.table-bordered > thead > tr > td,
.table-bordered > tbody > tr > th,
.table-bordered > tbody > tr > td,
.table-bordered > tfoot > tr > th,
.table-bordered > tfoot > tr > td {
  border-color: #ddd;
}
.table > thead > tr > th,
.table > thead > tr > td,
.table > tbody > tr > th,
.table > tbody > tr > td,
.table > tfoot > tr > th,
.table > tfoot > tr > td {
  vertical-align: middle !important;
}
.table > thead > tr > th,
.table > thead > tr > td,
.table > tfoot > tr > th,
.table > tfoot > tr > td {
  text-align: center;
}
.table-left > thead > tr > th,
.table-left > thead > tr > td,
.table-left > tfoot > tr > th,
.table-left > tfoot > tr > td {
  text-align: left;
}

.tablePrint.table {
  border: 8px solid #ddd;
}
.tablePrint.table > thead > tr > th,
.tablePrint.table > thead > tr > td,
.tablePrint.table > tbody > tr > th,
.tablePrint.table > tbody > tr > td,
.tablePrint.table > tfoot > tr > th,
.tablePrint.table > tfoot > tr > td {
  border: 4px solid #ddd;
}
.tablePrint.table img {
  border: 6px solid #ddd;
  border-radius: 5px;
}

.pagination > .active > a,
.pagination > .active > a:hover,
.pagination > .active > a:focus,
.pagination > .active > span,
.pagination > .active > span:hover,
.pagination > .active > span:focus {
  background-color: #5d9cec;
  border-color: #5d9cec;
}

/* profile photo */
.pic-center {
  display:flex;
  justify-content:center;
  margin-bottom: 10px;
}
.form-photo-input {
  padding:8px;
  background:#fff;
  box-shadow: 0px 0px 10px 1px rgba(0,0,0,.5);
  border-radius: 5px;
  width: 180px;
  height: 200px;
  position: relative;
  top: 0;
}
.form-photo-input .close {
  font-size: 14px;
  position: absolute;
  right: 9px;
  top: 7px;
  z-index: 9;
}
.photo-preview {
  height: 184px;
  position: relative;
}
.form-photo-input img {
  width:100%;
  height: 184px;
  display:none;
}
.form-photo-input input {
  display:none;
}
.form-photo-input .label-photo {
  height: 184px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  cursor: pointer;
  position: relative;
  top: -184px;
}

.footer {
  background: #36404a;
  color: #fff;
}

@media (min-width: 767px) {
  .btn-m-t-25 {
      margin-top: 25px;
  }
}
