.ws-login-page .wrapper-page {
    margin: 5% auto 0;
}
.ws-login-page .account-pages {
    background: linear-gradient(to bottom, #5d9cec 0%, #5d9cec 30%, #f8f5ec 30%, #f8f5ec 100%);
}
.ws-login-page .card-box {
    padding: 0 !important;
    border-radius: 50%;
}
.ws-login-page .card-box .panel-heading {
    background-color: #04A95B;
    border-radius: 25px 25px 0 0;
}
.ws-login-page .card-box .panel-body {
    background-image: url(../images/admin/bg_login_admin.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.logo img {
    max-width: 95%;
}
.ws-login-page .card-box .panel-body form input.form-control {
    padding-left: 30px;
}
.ws-login-page .card-box .panel-body form i.pull-left {
    position: absolute;
    margin: 8px;
    color: #5d9cec;
    font-size: 18px;
}
.ws-login-page .logo h2, .ws-login-page .logo h3, .ws-login-page .logo h4 {
    color: #fff;
    margin-bottom: 0;
}
.ws-login-page .logo h4 {
    margin-top: 0;
}
.ws-login-page h3 {
    font-size: 1.6rem;
}
.toggle-password {
    position: absolute;
    right: 20px;
    top: 12px;
}