@charset "utf-8";
@media print and (width: 5.83in) and (height: 8.27in) {
    @page {
        margin: 1in;
    }
}

@media print {
    aside#sidebar,
    header[role="banner"],
    footer,
    #comments,
    #respond {
        display: none;
    }
    a[href]:after {
        content: none !important;
    }
    body {
        page-break-before: avoid;
        width: 100%;
        height: 95%;
        padding-top: 0 !important;
        margin-bottom: 50px !important;
    }
    header {
        margin-bottom: 0 !important;
    }
    .container {
        width: 95% !important;
    }
    #wrapper .content-page {
        margin-left: 0 !important;
    }
    .content-page>.content {
        margin-bottom: 0;
        margin-top: 0;
        padding: 0px 10px;
    }
    .page-title {
        text-align: center;
    }
    .panel-body {
        padding: 0 !important;
    }
    .card-box {
        padding: 15px 4px;
    }
    #dataTables,
    table {
        width: 100% !important;
    }
    .panel-heading {
        padding: 10px 0px !important;
    }
    /* .cause-list tr.list td:nth-child(1) {
        max-width: 20px !important;
    }
    .cause-list tr.list td:nth-child(2) {
        max-width: 60px !important;
    }
    .cause-list tr.list td:nth-child(3) {
        max-width: 50px !important;
    }
    .cause-list tr.list td:nth-child(4) {
        max-width: 120px !important;
        word-wrap: break-word;
    }
    .cause-list tr.list td:nth-child(5) {
        max-width: 300px !important;
    }
    .cause-list tr.list td:nth-child(6) {
        max-width: 50px !important;
    }
    .cause-list tr.list td:nth-child(7) {
        max-width: 50px !important;
    } */
}