/* home page css */
/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}

.mt-25 {
  margin-top: 25px !important;
}
.p-0 {
  padding: 0 !important;
}
.logo-header {
  background: url(../images/header-bg.jpg) no-repeat 0;
  background-size: 100% 100%;
}
.logo-header .logo {
  max-height: 150px;
}
.logo-header .logo > a {
  color: #139352;
  text-decoration: none;
}
.logo-header .logo > a h2 {
  font-size: 5rem;
  line-height: 4.5rem;
  text-shadow: -1px 1px 0 #fff, 1px 1px 0 #fff, 1px -1px 0 #fff, -1px -1px 0 #fff;
}
.logo-header .logo > a h2 span {
  font-size: 4rem;
}
.logo-header .logo img {
 max-width: 550px;
 width: 100%;
}
.display-flex-center {
  display:flex;
  align-items:center;
}
.navbar-inverse, header .top-menu {
  background-color: #139352;
  border-color: #006633;
  border-radius: 0;
}
.navbar .navbar-brand {
  color: #fff;
}
.navbar .navbar-brand.active,
.navbar .nav li > a:hover {
  background-color: #006633;
}
.navbar-inverse .navbar-nav>li>a {
  color: #fff;
}
button.btn.active.focus,
button.btn.btn.active:focus,
button.btn.btn.active:hover,
button.btn:active.focus,
button.btn:active:focus,
button.btn:active:hover,
button.btn:focus {
  background-color: #01223f;
  border-color: #122b40;
}
button:focus,
button.btn:focus {
  outline: none;
}
button:focus-visible,
button.btn:focus-visible {
  outline: none;
}
button.btn.active.focus,
button.btn.active:focus,
button.btn.focus,
button.btn:active.focus,
button.btn:active:focus,
button.btn:focus {
  outline: none;
  outline-offset: 0;
}

/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

body > .container {
  /* padding: 60px 15px 0; */
}
.container .text-muted {
  margin: 20px 0;
}

.navbar a {
  color: #f5f5f5;
}

.nav>li>a:focus,
.nav>li>a:hover,
.nav>li.active>a {
  background-color: #236eaf;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

code {
  font-size: 80%;
}

.select2-container {
  width: 100% !important;
}

.select2-container .select2-selection--single {
  height: 34px !important;
}
.select2-container .select2-selection--single .select2-selection__rendered {
  line-height: 36px !important;
  padding-left: 12px !important;
}

.select2-hidden-accessible.parsley-error ~ .select2-container--default .select2-selection--single {
  border-color: #f05050 !important;
}


/* === HEADING PAGE TITLE === */
.page-title {
  margin-bottom: 20px;
}
.page-title > h1 {
  font-size: 3rem;
  position: relative;
  padding: 0;
  margin: 0;
  font-family: "Raleway", sans-serif;
  font-weight: 300;
  color: #080808;
  -webkit-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

.page-title h1 {
  font-size: 28px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 1.5em;
  padding-bottom: 15px;
  position: relative;
}
.page-title h1:before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 5px;
  width: 55px;
  background-color: #111;
}
.page-title h1:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 2px;
  height: 1px;
  width: 95%;
  max-width: 255px;
  background-color: #333;
}
#searchForm .col-xs-12,
#searchForm .col-sm-3,
#searchForm .col-sm-4,
#searchForm .col-md-3,
#searchForm .col-md-4 {
  padding-left: 6px;
  padding-right: 6px;
}

.table-responsive div.dataTables_wrapper div.dataTables_paginate {
  text-align: center;
}

.search-form {
  border-bottom: 3px solid #ddd;
  box-shadow: 0px 8px 8px 0px rgb(0 0 0 / 10%);
  padding-right: 20px;
  padding-left: 20px;
  margin-bottom: 10px;
  overflow: hidden;
}

table.dataTable thead > tr > th {
  padding-right: 8px;
}
table.dataTable thead>tr>th.sorting_asc, table.dataTable thead>tr>th.sorting_desc, table.dataTable thead>tr>th.sorting, table.dataTable thead>tr>td.sorting_asc, table.dataTable thead>tr>td.sorting_desc, table.dataTable thead>tr>td.sorting {
  padding-right: 8px;
}

.table th {
  text-align: center;
  vertical-align: middle !important;
}
.table td {
  vertical-align: middle !important;
}

.table-left th {
  text-align: left;
  vertical-align: middle !important;
}

@media(max-width: 767px) {
  .logo-header .logo > a h2 {
    font-size: 3.6rem;
    line-height: 3.5rem;
  }
  .logo-header .logo > a h2 span {
    font-size: 3rem;
  }
}