.p-10 {
    padding: 10px !important;
}

.py-10 {
    padding: 10px 0px !important;
}

.px-10 {
    padding: 0px 10px !important;
}

.px-20 {
    padding: 0px 20px !important;
}

.p-t-0 {
    padding-top: 0px !important;
}

.p-t-10 {
    padding-top: 10px !important;
}

.p-r-0 {
    padding-right: 0px !important;
}

.p-r-10 {
    padding-right: 10px !important;
}

.p-b-5 {
    padding-bottom: 5px !important;
}

.p-l-0 {
    padding-left: 0px !important;
}

.m-l-5 {
    margin-left: 5px !important;
}

.p-l-10 {
    padding-left: 10px !important;
}

.m-0 {
    margin: 0;
}

.m-t-20 {
    margin-top: 20px !important;
}

.m-t-30 {
    margin-top: 30px !important;
}

.m-t-50 {
    margin-top: 50px !important;
}

.m-r-10 {
    margin-right: 10px !important;
}

.m-r-20 {
    margin-right: 20px !important;
}

.m-r-l-ms-10 {
    margin-right: -10px !important;
    margin-left: -10px !important;
}

.border-radius-5 {
    border-radius: 5px;
}

.border-radius-10 {
    border-radius: 10px;
}

.border-radius-20 {
    border-radius: 20px;
}

.border-radius-25 {
    border-radius: 25px;
}

.border-radius-30 {
    border-radius: 30px;
}

.font-15 {
    font-size: 15px !important;
}