@font-face {
    font-family: 'Bree Serif';
    src: url('../fonts/breeserif-regular-webfont.eot');
    src: url('../fonts/breeserif-regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/breeserif-regular-webfont.woff2') format('woff2'),
    url('../fonts/breeserif-regular-webfont.woff') format('woff'),
    url('../fonts/breeserif-regular-webfont.ttf') format('truetype'),
    url('../fonts/breeserif-regular-webfont.svg#bree_serifregular') format('svg');
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Jameel Noori Nastaleeq';
    src: url('../urdu-fonts/nafees-nastaleeq-webfont.eot');
    src: url('../urdu-fonts/nafees-nastaleeq-webfontd41d.eot?#iefix') format('embedded-opentype'),
    url('../urdu-fonts/nafees-nastaleeq-webfont.woff') format('woff'),
    url('../urdu-fonts/Nafees-Nastaleeq.ttf') format('truetype'),
    url('../urdu-fonts/nafees-nastaleeq-webfont.svg') format('svg');
    font-weight: normal;
    font-style: normal ;
  }