@import "fonts";
@import "loader";
@import "navbar";
@import "variables";
@import "core";
.urdu {
    font-family: $urdu-font;
}

form {
    .select-eng-urdu {
        @extend .urdu;
        height: auto;
        padding: 0px 10px;
        word-spacing: 3px;
    }
    .select-urdu {
        @extend .select-eng-urdu;
        direction: rtl;
    }
    /* .selectize-control {
        padding: 0;
    }
    .selectize-dropdown-content {
        background: #ddd;
    } */
}

::-webkit-scrollbar {
    width: 12px;
}

 ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

 ::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgba(95, 190, 170, 0.3);
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

 ::-webkit-scrollbar-thumb:window-inactive {
    background: rgba(95, 190, 170, 0.1);
}

body {
    background: $primary-bg;
}

.notifyjs-corner {
    top: 50px !important;
    left: 40% !important;
}

.modal.in {
    .modal-dialog {
        margin-top: 100px;
    }
}

.morris-hover.morris-default-style {
    background: rgba(0, 0, 0, 0.8) !important;
}

.alert-warning {
    color: #c77e00;
}

.bg-admin {
    background: linear-gradient(to bottom, $primary-color 0%, $primary-color 15%, $primary-bg 30%, $primary-bg 100%);
}

.ws-login-page {
    .account-pages {
        background: linear-gradient(to bottom, $primary-color 0%, $primary-color 30%, $primary-bg 30%, $primary-bg 100%);
    }
    .card-box {
        padding: 0 !important;
        border-radius: 50%;
        .panel-heading {
            background-color: #333;
            border-radius: 25px 25px 0 0;
        }
        .panel-body {
            background-image: url(../images/admin/bg_login_admin.png);
            background-repeat: no-repeat;
            background-size: cover;
            form {
                input.form-control {
                    padding-left: 30px;
                }
                i.pull-left {
                    position: absolute;
                    margin: 8px;
                    color: $primary-color;
                    font-size: 18px;
                }
            }
        }
    }
}

.logout-modal {
    margin-top: 60px;
    .modal-content {
        background-image: url('../images/logout_bg_03.gif');
        background-size: cover;
        height: 257px;
        width: 100%;
        border-radius: 60px 60px 30px 30px !important;
        form {
            .btn {
                padding: 10px 60px;
                margin: 0 5px;
            }
        }
    }
}

.primary-bg {
    background: $primary-color;
}

.text-primary {
    color: $primary-color;
}

.main-blocks {
    background-image: url('../images/admin/bg_main_block.png');
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
}

.custom-box-shadow {
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1) !important;
}

.custom-cart-box {
    border-radius: 20px;
    box-shadow: 0px 8px 15px 0px rgba(0, 0, 0, 0.1);
    .panel-heading {
        border-radius: 25px 25px 0 0;
        background: $primary-color;
    }
    .panel-content {
        padding: 0 20px 20px;
        h2 {
            color: $primary-color;
            span.t-pedency {
                font-size: 18px;
            }
        }
    }
}

.table {
    th {
        text-align: center;
        vertical-align: middle !important;
    }
    td {
        vertical-align: middle !important;
    }
}

.table-left {
    th {
        text-align: left;
        vertical-align: middle !important;
    }
}

div.ColVis {
    float: left;
}

button.ColVis_Button {
    background: $primary-color !important;
    border-color: $primary-color !important;
    color: #ffffff !important;
}

ul.ColVis_collection {
    background-color: rgba( 255, 255, 255, 0.9);
}

// pagination
@mixin pagination_style {
    background-color: $primary-color;
    border-color: $primary-color;
}

.pagination {
    >.active {
        >a {
            @include pagination_style;
            &:hover {
                @include pagination_style;
            }
            &:focus {
                @include pagination_style;
            }
        }
        >span {
            @include pagination_style;
            &:hover {
                @include pagination_style;
            }
            &:focus {
                @include pagination_style;
            }
        }
    }
}

.footer {
    background: $secondary-color;
    color: #fff;
}